<div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>Home
            <div class="card-actions">
              <!-- <app-loading-indicator [isRunning]="isLoading" [layout]="'mode2'"></app-loading-indicator> -->
            </div>
          </div>
          <div style="height:10px;"></div>
          <div class="row" style="margin-right:10px;">
            <div class="col-sm-12 mb-3">
              <div class="float-right form-inline">
                <div class="btn-group" role="group">
                  <span class="input-group-btn">
                    <!-- <button class="btn btn-outline-secondary" [title]="'shared.buttons.search' | translate" (click)="showfilter()">
                      <i class="fa fa-filter"></i>
                    </button> -->
                  </span>
                </div>
              </div>
              <div style="width:100%;text-align: center;">
                <label class="info-box-number">modelDashboard.periodo</label>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
  
 